{% block topcontent %}
  {% if employee %}
    <div class="usageTotal">
      <table>
        <thead><tr>
          <th></th>
          {% for emp in employee %}
            <th>{{ emp.last }}</th>
          {% endfor %}
          <th></th>
        </tr></thead>
        <tbody>
        {% for x in 0..4 %}
          <tr>
            {% if x == 0 %}
              <td><b>Renewed</b></td>
            {% elseif x == 1 %}
              <td><b>Working</b></td>
            {% elseif x == 2 %}
              <td><b>Back</b></td>
            {% elseif x == 3 %}
              <td><b>Lost</b></td>
            {% else %}
              <td><b>Total</b></td>
            {% endif %}
            {% for emp in employee %}
              {% if type == 'electric' %}
                {% if x == 0 %}
                  <td>{{ emp.mwhRenewed|number_format(0, '.', ',') }}</td>
                {% elseif x == 1 %}
                  <td>{{ emp.mwhWorking|number_format(0, '.', ',') }}</td>
                {% elseif x == 2 %}
                  <td>{{ emp.mwhBack|number_format(0, '.', ',') }}</td>
                {% elseif x == 3 %}
                  <td>{{ emp.mwhLost|number_format(0, '.', ',') }}</td>
                {% else %}
                  <td>{{ emp.mwhTotal|number_format(0, '.', ',') }}</td>
                {% endif %}
              {% endif %}
              {% if type == 'gas' %}
                {% if x == 0 %}
                  <td>{{ emp.gasRenewed|number_format(0, '.', ',') }}</td>
                {% elseif x == 1 %}
                  <td>{{ emp.gasWorking|number_format(0, '.', ',') }}</td>
                {% elseif x == 2 %}
                  <td>{{ emp.gasBack|number_format(0, '.', ',') }}</td>
                {% elseif x == 3 %}
                  <td>{{ emp.gasLost|number_format(0, '.', ',') }}</td>
                {% else %}
                  <td>{{ emp.gasTotal|number_format(0, '.', ',') }}</td>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="usagePercent">
      <table>
        <thead><tr>
          <th></th>
          {% for emp in employee %}
            <th>{{ emp.last }}</th>
          {% endfor %}
          <th></th>
        </tr></thead>
        <tbody>
        {% for x in 0..4 %}
          <tr>
            {% if x == 0 %}
              <td><b>Renewed</b></td>
            {% elseif x == 1 %}
              <td><b>Working</b></td>
            {% elseif x == 2 %}
              <td><b>Back</b></td>
            {% elseif x == 3 %}
              <td><b>Lost</b></td>
            {% else %}
              <td><b>Total</b></td>
            {% endif %}
            {% for emp in employee %}
              {% if type == 'electric' %}
                {% if x == 0 %}
                  <td>{{ ((emp.mwhRenewed / emp.mwhTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 1 %}
                  <td>{{ ((emp.mwhWorking / emp.mwhTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 2 %}
                  <td>{{ ((emp.mwhBack / emp.mwhTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 3 %}
                  <td>{{ ((emp.mwhLost / emp.mwhTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% else %}
                  <td>{{ ((emp.mwhTotal / emp.mwhTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% endif %}
              {% endif %}
              {% if type == 'gas' %}
                {% if x == 0 %}
                  <td>{{ ((emp.gasRenewed / emp.gasTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 1 %}
                  <td>{{ ((emp.gasWorking / emp.gasTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 2 %}
                  <td>{{ ((emp.gasBack / emp.gasTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 3 %}
                  <td>{{ ((emp.gasLost / emp.gasTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% else %}
                  <td>{{ ((emp.gasTotal / emp.gasTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="feeTotal">
      <table>
        <thead><tr>
          <th></th>
          {% for emp in employee %}
            <th>{{ emp.last }}</th>
          {% endfor %}
          <th></th>
        </tr></thead>
        <tbody>
        {% for x in 0..4 %}
          <tr>
            {% if x == 0 %}
              <td><b>Renewed</b></td>
            {% elseif x == 1 %}
              <td><b>Working</b></td>
            {% elseif x == 2 %}
              <td><b>Back</b></td>
            {% elseif x == 3 %}
              <td><b>Lost</b></td>
            {% else %}
              <td><b>Total</b></td>
            {% endif %}
            {% for emp in employee %}
              {% if type == 'electric' %}
                {% if x == 0 %}
                  <td>${{ emp.feeRenewed|number_format(2, '.', ',') }}</td>
                {% elseif x == 1 %}
                  <td>${{ emp.feeWorking|number_format(2, '.', ',') }}</td>
                {% elseif x == 2 %}
                  <td>${{ emp.feeBack|number_format(2, '.', ',') }}</td>
                {% elseif x == 3 %}
                  <td>${{ emp.feeLost|number_format(2, '.', ',') }}</td>
                {% else %}
                  <td>${{ emp.feeTotal|number_format(2, '.', ',') }}</td>
                {% endif %}
              {% endif %}
              {% if type == 'gas' %}
                {% if x == 0 %}
                  <td>${{ emp.gasFeeRenewed|number_format(2, '.', ',') }}</td>
                {% elseif x == 1 %}
                  <td>${{ emp.gasFeeWorking|number_format(2, '.', ',') }}</td>
                {% elseif x == 2 %}
                  <td>${{ emp.gasFeeBack|number_format(2, '.', ',') }}</td>
                {% elseif x == 3 %}
                  <td>${{ emp.gasFeeLost|number_format(2, '.', ',') }}</td>
                {% else %}
                  <td>${{ emp.gasFeeTotal|number_format(2, '.', ',') }}</td>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="feePercent">
      <table>
        <thead><tr>
          <th></th>
          {% for emp in employee %}
            <th>{{ emp.last }}</th>
          {% endfor %}
          <th></th>
        </tr></thead>
        <tbody>
        {% for x in 0..4 %}
          <tr>
            {% if x == 0 %}
              <td><b>Renewed</b></td>
            {% elseif x == 1 %}
              <td><b>Working</b></td>
            {% elseif x == 2 %}
              <td><b>Back</b></td>
            {% elseif x == 3 %}
              <td><b>Lost</b></td>
            {% else %}
              <td><b>Total</b></td>
            {% endif %}
            {% for emp in employee %}
              {% if type == 'electric' %}
                {% if x == 0 %}
                  <td>{{ ((emp.feeRenewed / emp.feeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 1 %}
                  <td>{{ ((emp.feeWorking / emp.feeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 2 %}
                  <td>{{ ((emp.feeBack / emp.feeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 3 %}
                  <td>{{ ((emp.feeLost / emp.feeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% else %}
                  <td>{{ ((emp.feeTotal / emp.feeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% endif %}
              {% endif %}
              {% if type == 'gas' %}
                {% if x == 0 %}
                  <td>{{ ((emp.gasFeeRenewed / emp.gasFeeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 1 %}
                  <td>{{ ((emp.gasFeeWorking / emp.gasFeeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 2 %}
                  <td>{{ ((emp.gasFeeBack / emp.gasFeeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% elseif x == 3 %}
                  <td>{{ ((emp.gasFeeLost / emp.gasFeeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% else %}
                  <td>{{ ((emp.gasFeeTotal / emp.gasFeeTotal) * 100)|number_format(2, '.', ',') }}%</td>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if book_emp %}
    <div id="book-content-top">
      <ul>
        {% for key,val in book_emp %}
          <li><a href="#tabs-{{ val[0].repName }}">{{ val[0].repName }}</a></li>
        {% endfor %}
      </ul>
      {% for key,val in book_emp %}
        <div id="tabs-{{ val[0].repName }}">
          <div class="book-top-table">
            <table id="{{ val[0].repName }}">
              <thead><tr>
                <th>Customer</th>
                <th>Utility</th>
                <th>Contract Start</th>
                <th>Contract End</th>
                <th>Annual mWh</th>
                <th>Annual mcf</th>
                <th>Annual Fee[E]</th>
                <th>Annual Fee[G]</th>
              </tr></thead>
              <tbody>
              {% for con in val  %}
                <tr>
                  <td>{{ con.customerName }}</td>
                  <td>{{ con.utilityname }}</td>
                  <td>{{ con.startMonth }}-{{ con.startYear }}</td>
                  <td>{{ con.endMonth }}-{{ con.endYear }}</td>
                  <td>{{ con.annualMWHs|number_format(0, ',') }}</td>
                  <td>{{ con.gasUsage|number_format(0, ',') }}</td>
                  <td>${{ (con.annualMWHs * con.mils)|number_format(2, '.', ',') }}</td>
                  <td>${{ (con.gasUsage * con.gasCommission)|number_format(2, '.', ',') }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% if book_emp_bottom %}
            <div class="book-bottom-table">
              <table>
                <thead><tr>
                  <th>Name</th>
                  <th>Contracts</th>
                  <th>mWh</th>
                  <th>mcf</th>
                  <th>Annual Fee[E]</th>
                  <th>Annual fee[G]</th>
                  <th>Total Annual Fee</th>
                </tr></thead>
                <tbody>
                  {% for utility in book_emp_bottom[key]  %}
                    <tr>
                      <td>{{ utility.name }}</td>
                      <td>{{ utility.contracts|number_format(0, '', ',') }}</td>
                      <td>{{ utility.mwh|number_format(0, ',') }}</td>
                      <td>{{ utility.mcf|number_format(0, ',') }}</td>
                      <td>${{ utility.annualFeeE|number_format(2, '.', ',') }}</td>
                      <td>${{ utility.annualFeeG|number_format(2, '.', ',') }}</td>
                      <td>${{ utility.totalAnnualFee|number_format(2, '.', ',') }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <script>generate_tabs();</script>
  {% endif %}
{% endblock %}